# Paths for executable files, modifies according to your system
path_Rscript=
path_perl=
path_java=
path_bwa=
path_salmon=

# Path for all scripts, modifies according to your system
# Including CIRI2, CIRI-AS, CIRI-full, CIRI-vis, shell and Rscript, download from our projuect page
scriptsdir=

# Path for all reference files, modifies according to your system
# Including fasta, gtf, FLcircAS.final.datatable, IsoCirc.final.datatable 
referencesdir=

fa=${referencesdir}/Homo_sapiens.GRCh38.dna_sm.chromosomes.fa  
gtf=${referencesdir}/Homo_sapiens.GRCh38.94.chr.gtf
FLcircAS=${referencesdir}/FLcircAS.final.datatable
FLcircAS=${referencesdir}/IsoCirc.final.datatable

# Number of threads used in pipeline, available for bwa, CIRI2, CIRI-full and salmon, modifies according to your system
THREAD_COUNT=20