# Paths for executable files  
path_Rscript=~/anaconda3/envs/yuanshaoxun/bin/Rscript 
path_perl=~/anaconda3/envs/yuanshaoxun/bin/perl
path_java=/usr/bin/java
path_bwa=~/software/bwa-0.7.17/bwa
path_salmon=~/software/salmon-1.5.2_linux_x86_64/bin/salmon  

# Script and reference directories  
scriptsdir=/data2/shaoxun/BloodCircleR/AQUARIUMHB_github/ 

# path for: fasta, gtf, FLcircAS.final.datatable, IsoCirc.final.datatable 
referencesdir=/data2/shaoxun/BloodCircleR/AQUARIUMHB_github/  
fa=${referencesdir}/Homo_sapiens.GRCh38.dna_sm.chromosomes.fa  
gtf=${referencesdir}/Homo_sapiens.GRCh38.94.chr.gtf
FLcircAS=${referencesdir}/FLcircAS.final.datatable
FLcircAS=${referencesdir}/IsoCirc.final.datatable

# Number of threads used in pipeline, available for bwa, CIRI2, CIRI-full and salmon
THREAD_COUNT=30 